body{
    margin: 0;
   height: 5000px;
   /* border: 15px solid rgb(14, 13, 13);*/
}
.out{
    border: 5px solid rgb(14, 13, 13);
    height: 70%;
    width: 70%;
    background-color: rgb(192, 192, 241);
    position: fixed;
    top: 15%;
    bottom: 15%;
    left: 15%;
    right: 15%;

}
.squ{
    border: 5px solid rgb(233, 77, 77);
    height: 30%;
    width: 30%;
    background-color: blue;
    position: fixed;
    top: 35%;
    bottom: 35%;
    left: 35%;
    right: 35%;


}
footer {
    height: 80px;
    width: 100%;
    background: rgb(85, 82, 82);
    color: #fff;
    padding: 10px 80px;
    position: fixed;
    box-sizing: border-box;
   bottom: 0;
  
}

.item {
    float: left;
}
.final{
    font-size: 35px;
    float: right;
   /* padding: 20px;*/
    margin-top: 5px;
}
.clear{
    clear: both;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

